console.log($('div.tab-content').find('div'));
console.log('<%=@category.id.to_i - 1%>');
console.log($('div.tab-content').find('div').eq((<%=@category.id.to_i%>- 1)).find('ul').append("<li>nouveau livre </li>"));

