#carousel-content {
	display: flex;
	align-items: center;
	justify-content: center;
	background: gray;
}

.slide-image {
  width: 50vw;
  height: 50vh;
  background-position: center;
  background-size: cover;
  display: inline-block;
}

#carousel {
  overflow: hidden;
  white-space: nowrap;
  width: 50vw;
  height: 50vh;
}

.arrow {
  width: 5%;
  cursor: pointer;
  background: aqua;
}
